@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Sedan:ital@0;1&display=swap');

body{

    background-repeat: no-repeat; background-size: cover;
    background-image: url('1.png');
    background-size: 100%;
    background-position-y: -260px;
    background-position-x: center;
}

@media screen and (max-width: 1126px){
    body{
        background-position: center center;
        background-image: url('1126.png');
    }    
}
@media screen and (max-width: 658px){
    body{
        background-position: center center;
        background-image: url('658.png');
    }    
}

@media screen and (max-width: 385px){
    body{
        background-position: center center;
        background-image: url('385.png');
    }    
}


.container{
    padding-top: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center

}

.container2{
    margin-top: 160px;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center
}

h1{
    align-self: center;
    font-family: "Sedan", serif;
    color: white;
    font-weight: 100;
    font-size: 60px;
    padding-bottom: 0;
    margin-bottom: 5px;
}

h2{
    margin: 0;
    text-align: center;
    color: white;
    font-weight: 100;
    font-family: "Sedan", serif;
    font-size: 25px
}

h3{
    margin-bottom: 70px;
    color: white;
    font-weight: 200;
    text-align: center;
    font-family: "Abel", sans-serif;
    font-size: 15px
    
}


button{
    margin-left: 25px;
    align-self: center;
    align-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: "Abel", sans-serif;
    font-size: 13px;
    background-color: #D9D9D9;
    border-radius: 20px;
    border: 0;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 125px;
    height: 36px;
}

button:hover{
    cursor: pointer;
    width: 124px;
    height: 35px;
    font-size: 12px;
    transition: 0.1s ease-in-out

}
